accelerate==1.12.0
av==15.1.0
datatrove==0.7.0
deepdiff==8.6.1
diffusers==0.35.2
dm_tree==0.1.8
draccus==0.10.0
dynamixel_sdk==4.0.3
einops==0.8.1
flash_attn==2.8.3
fsspec==2025.12.0
grpcio==1.64.1
gym_hil==0.1.13
gymnasium==1.2.0
hebi==0.2.0.0.12.5
hid==1.0.8
huggingface_hub==0.35.3
imageio==2.36.0
jsonlines==4.0.0
matplotlib==3.8.3
mock_serial==0.0.1
numpy==2.4.0
onnxruntime==1.20.1
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
openpi==0.0.0
packaging==25.0
pandas==2.3.3
peft==0.18.0
Pillow==12.0.0
placo==0.9.18
protobuf==6.33.2
pyarrow==22.0.0
pygame==2.6.1
pynput==1.8.1
pyrealsense2==2.56.5.9235
pyserial==3.5
pytest==8.3.3
pyzmq==27.1.0
Requests==2.32.5
rerun==1.0.30
safetensors==0.7.0
skimage==0.0
teleop==0.1.4
tensorflow_datasets==4.9.4
termcolor==3.3.0
torch==2.7.1
torchcodec==0.9.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.46.1
typing_extensions==4.15.0
wandb==0.23.1
